<launch>

  <!-- for some reason MIRAAdapter does not work when started by roslaunch -->
  <!--node pkg="MIRAAdapter" name="miraadapter_for_laser" type="miraadapter" args="-p1234"/>
  <group ns="miraadapter">
    <node pkg="MIRAAdapter" name="miraadapter1" type="miraadapter" args="-p1234"/>
  </group-->

  <group ns="person_detector">
    <remap from="gandalf_detector_for_persons/laser" to="/laser"/>
    <node pkg="gandalf_detector" name="gandalf_detector_for_persons" type="gandalf_mo_detector_node">
        <!-- rosparam file="$(find gandalf_detector)/launch/parameter.yaml" command="load" ns="global_costmap" / -->
        <rosparam file="$(find gandalf_detector)/launch/tree_parameter.yaml" command="load"/>
    </node>
  </group>

</launch>
